body {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/img/portfolioBG.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

p {
  margin: 10px 0px;
}

hr {
  margin: 0px;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
  text-decoration: none;
}

/* ----------- SCROLLBAR ----------- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00bedd;
  border-radius: 10px;
}
