.cardCont {
    display: flex;
    flex: row;
    align-items: center;
    margin: 20px 0px;
}

.projImg {
    width: 25%;
    margin-right: 2%;
}

.projInfo {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.projTitle {
    font-size: 110%;
    font-weight: 600;
}

.projSummary {
    font-size: 90%;
    font-weight: 300;
}

.projDate {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.projDateTitle {
    font-size: 90%;
    font-weight: 600;
}

.projDateDate {
    font-size: 90%;
    font-weight: 300;
}

.projTech {
    font-size: 90%;
    font-weight: 600;
}

.projTechList {
    display: flex;
    flex-direction: row;
}

.projTechIcon {
    width: 25px;
    margin-right: 15px;
}

.buttons {
    background-color: #00bedd;
    border: 1px solid #00bedd;
    border-radius: 20px;
    color: white;
    padding: 5px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.buttons:hover {
    background-color: white;
    color: #00bedd;
}

@media (max-width: 768px) {
    .cardCont {
        flex-direction: column;
    }

    .projInfo {
        align-items: center;
    }
}