.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.contactCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.contactTitle {
    color: white;
    font-weight: 800;
}

.iconsCont {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 20px;
}

.socialIcon {
    width: 80px;
    margin: 0px 80px;
}