.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 25vh;
}

.bannerImg {
    width: 250px;
}

.projCont {
    box-shadow: 0px 0px 9px 2px #00bedd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    width: 100%;
}

.projInfo {
    width: 70%;
}

.nameInfo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.projTitle {
    font-weight: 800;
    margin-top: 40px;
}

.projName {
    font-size: 100%;
    font-weight: 600;
    color: #00bedd;
}

.dateInfo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.projDateTitle {
    font-size: 90%;
    font-weight: 600;
}

.projDateDate {
    font-size: 90%;
    font-weight: 300;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgOne {
    width: 80%;
    margin: 15px 0px;
}

.imgSubContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imgSubContainer_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images {
    width: 45%;
    margin: 15px;
}

.images_2 {
    width: 65%;
    margin: 15px;
}

.teamImg {
    width: 75%;
    margin: 15px;
}

.techList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.techIcon {
    width: 40px;
    margin: 15px;
}

.teamList {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.teamColumn {
    margin-right: 40px;
}

.teamName {
    margin-bottom: 5px;
}

.buttons {
    background-color: #00bedd;
    border: 1px solid #00bedd;
    border-radius: 20px;
    color: white;
    padding: 5px 20px;
    margin-top: 40px;
    cursor: pointer;
}

.buttons:hover {
    background-color: white;
    color: #00bedd;
}

@media (max-width: 768px) {
    .banner {
        width: 90%;
    }

    .projInfo {
        width: 90%;
    }

    .imgOne {
        width: 110%;
    }
}